{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        {% if fotografia.photo == "" or fotografia.photo == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png' %}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ fotografia.photo.url }}" alt="foto">
                                {% endif %}
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ fotografia.name }}</p>
                                <p class="imagem__descricao">{{ fotografia.legend }}</p>
                                <p class="imagem__texto">{{ fotografia.description }}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}